*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1{
    font-size: $header1;
}

h2{
    font-size: $header2;
}

h3{
    font-size: $header3;
}

h4,
h5{
    font-size: $header4;
}

ul{
    list-style: none;
}

a{
    color: $gray-text;
    text-decoration: none;
}

li,
button,
form,
input,
a,
p{
    font-size: $text;
}



