.projects {
    height: 90vh;
}

.project{
    height: auto;
    width: 50rem;
    margin: 5rem;
    padding: 4rem 0rem 3rem 0rem;
    text-align: center;
    border-bottom: 2px solid rgb(65, 240, 222);

    h2{
        font-size: 3rem;
        padding: 2rem;
    }

    img{
        height: 30rem;
        width: 50rem;
        padding: 2rem 0rem;
    }
    
    p{
        padding: 2rem 0rem 1rem 0rem;
        color: $gray-text;
    }
}