$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: -webkit-linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

body{
    animation: load 2s ease-in-out;
}

@import "global";
@import "intro";
@import "animations";
